# Пример заполнения файла .gitignore

# для игнорирования файлов в .gitignore применяются шаблоны
# но они применяются только к untracked-файлам(т.е. если файл не попал в staging area)

# игнорируем скрытый файл .DS-Store для macOS (файл создается ОС для хранения настроек папки)
.DS-Store

# игнорируем все файлы формата jpeg (символ * соответствует любой пустой строке, даже пустой)
*.jpeg

# игнорируем временные файлы tmp в любой подпапке директории docs
docs/*/tmp

# игнорировать временные файлы tmp в любом количеситве подпапок директории lib (например lib/current/saved/tmp)
lib/**/tmp

# игнорировать все файлы можно с помощью правила * или **

# игнорировать файлы с любым символом в названии (символ ? соответствует любому одному символу)
file?.txt

# квадратные скобки [...] также указывают на один символ из диапазона
file[abc].txt
file[0-9].txt

# слэш указывает на каталог (в примере ниже будет проигнорирован файл todo.txt, лежащий только в корне проекта)
/todo.txt

# игнорировать директорию build
build/






